// -----------------------------------------------------------------------------
// This file contains all styles related to the common layout of the site
// -----------------------------------------------------------------------------

body {
  background-color: $body-bg;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

// skip links
.accessibility {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

.card {
  &-bar {
    cursor: pointer;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 0;
      height: 0;
      border-radius: 50%;
      background: transparent;
      box-shadow: -400px 0 0 400px rgb(216 180 254);
    }
  }

  .btn-play {
    span {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 30%;
      transform: translateY(-50%);
      width: 8px;
      height: 25px;
      border-radius: 3px;
      background: rgb(88 28 135);
      @include transition(background color width transform left top right bottom);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

      &:nth-child(2) {
        left: 53%;
        transform-origin: center;
      }
    }

    &.pause {
      animation: pulse 2s linear infinite;

      span {
        &:first-child {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          width: 35%;
          left: 54%;
          transform: translate(-50%, -50%);
          border-radius: 0;
          clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
        }

        &:nth-child(2) {
          transform: translateY(-50%) scale(0);
        }
      }
    }
  }

  &-img {
    animation: rotate 10s linear infinite;
    animation-play-state: paused;

    &.play {
      animation-play-state: running;
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0;
  }

  40% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
  }

  75% {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
  }

  100% {
    box-shadow: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
